* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
}


.cuadrado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 2rem;
}